{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <style>
        .layui-inline label{
            padding: 9px 5px 9px 0;

        }
        .layui-input-inline{
            width: 300px;
        }
    </style>

{% endblock %}
{% block content %}
    <div style="padding: 20px; padding-left: 50px">
        {% csrf_token %}
        <div class="layui-inline">
            <label class="layui-form-label">区域名称</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" autocomplete="off" class="layui-input"
                       placeholder="区域名称" id="area-add-title">
            </div>
        </div>
        <hr>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1" id="area-add-submit">立即提交</button>
                <span id="area-add-error" style="color: orange;margin-left: 10px"></span>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $("#area-add-submit").click(function () {
            var title = $("#area-add-title").val();
            if (title == "") {
                $("#area-add-error").text("请输入区域名称！");
                setTimeout(function () {
                    $("#area-add-error").text("");
                }, 2000);
                return false;
            }
            $.ajax({
                url: "{% url 'areas_add' %}",
                type: 'post',
                dataType: 'json',
                sync: false,
                data: {
                    title: title,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    if (data.status) {
                        parent.location.reload();
                    } else {
                        $("#area-add-error").text(data.msg);
                        setTimeout(function () {
                            $("#area-add-error").text("");
                        }, 2000)
                    }
                }
            })
        })
    </script>

{% endblock %}
