{% extends 'base.html' %}
{% block extra_css %}
    <style>
        .interval-add-error {
            display: inline-block;
            color: orange;
            margin-left: 100px;
            margin-top: 10px;
        }
    </style>

{% endblock %}
{% block content %}
    <form class="layui-form programme-add-body">
        <!-- 标题 -->
        {% csrf_token %}
        <div class="layui-inline">
            <label class="layui-form-label">搜索选择框</label>
            <div class="layui-input-inline">
                <select name="modules" lay-verify="required" lay-search="">
                    {% for user in users %}
                        <option value="{{ user.nid }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- 时间复选框 -->
        <div class="layui-form-item">
            <label class="layui-form-label">复选框</label>
            <div class="layui-input-block">
                {% for interval in intervals %}
                    <input type="checkbox" name="interval_user" title="{{ interval.interval }}">
                {% endfor %}
            </div>
        </div>
        <!-- 提交 -->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" value="提交" onclick="NewIntervalWithUser()" class="layui-btn">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
            <span id="interval-add-has-error" class="interval-add-error"></span>
        </div>
    </form>

{% endblock %}
{% block extra_js %}
    <script>
        function NewIntervalWithUser() {
            var form_data = new FormData();
            var user = $(".layui-this").text();
            var obj = $("[name='interval_user']");
            var intervals = [];
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].checked) {
                    intervals.push(obj[i].title);
                }
            }
            form_data.append("intervals", intervals);
            form_data.append("user", user);
            form_data.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: "{% url 'intervals_add' %}",
                type: "post",
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function (data) {
                    if (data.status) {
                        parent.location.reload();
                    } else {
                        $("#interval-add-has-error").text(data.msg);
                        setTimeout(function () {
                            $("#interval-add-has-error").text("");
                        }, 2000);
                        return false
                    }
                }
            })
        }
    </script>

{% endblock %}
