{% extends 'base.html' %}
{% load mytag static %}
{% block title %}
    {% if request.user.pk|is_user_manage %}
        {{ machine_title }}--提交审核
    {% else %}
        {{ machine_title }}--发布
    {% endif %}
{% endblock %}
{% block extra_css %}
    <style>
        .machine-related-body {
            width: 30%;
            display: inline-block;
            float: left;
            padding: 20px;
        }

        .machine-related-time {
            margin-left: 10px;
            text-align: center;
        }

        .machine-related-programme {
            display: inline-block;
        }

        .adv-machine-related-editor {
            width: 100%;
            padding-top: 20px;
            float: left;
        }

        .layui-btn a {
            color: #000;
        }
    </style>

{% endblock %}
{% block content %}
    {% if request.user.pk|is_user_manage %}
        <div class="machine-related-body">
            <form class="layui-form">
                {% csrf_token %}
                <!--如果不是管理员或者超级管理员-->
                <div class="adv-machine-related">
                    <div class="layui-form-item">
                        <h3 style="text-align: center; padding-bottom: 10px">选择节目单与广告时间</h3>
                        <div class="layui-input-block machine-related-time">
                            {% for interval in intervals %}
                                {% if interval.pk|compare_interval:interval_list %}
                                    <input type="checkbox" name="machine-interval" value="{{ interval.pk }}"
                                           title="{{ interval.title }}" disabled="disabled">
                                {% else %}
                                    <input type="checkbox" name="machine-interval" value="{{ interval.pk }}"
                                           title="{{ interval.title }}">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                    </div>
                    <!--单选，获取节目单-->
                    <h3 style="text-align: center; padding-bottom: 10px">选择节目</h3>
                    <div class="layui-input-inline machine-related-programme">
                        <select id="machine-programme" class="machine-related-select">
                            {% for programme in programmes %}
                                <option value="{{ programme.pk }}">{{ programme.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="text-align: center;padding: 30px; display: inline-block;">
                        <input type="button" class="layui-btn" onclick="MachineAddPI()"
                               value="提交审核"/>
                    </div>
                    <span id="machine-add-error" style="text-align: center; display: block;"></span>

                </div>

            </form>
        </div>
    {% endif %}
    <div class="adv-machine-related-editor" {% if request.user.pk|is_user_manage %} style="width: 65%" {% endif %}>
        <div>
            <h3 style="text-align: center; padding-bottom: 10px">节目单与时刻列表</h3>
            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th width="10" style="text-align: center;">节目单</th>
                    <th width="80" style="text-align: center;">时间段</th>
                    <th width="10" style="text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for machine_related in machines_related %}
                    <tr>
                        <td style="text-align: center">{{ machine_related.programme.title }}</td>
                        {% with intervals=machine_related.pk|machine_to_interval %}
                            <td style="height: 80px;">
                                <div style="display: inline;text-align: center">
                                    {% for interval in intervals %}
                                        <button class="layui-btn layui-btn-sm" style="margin: 5px;">
                                            {{ interval.title }}
                                        </button>
                                    {% endfor %}
                                </div>
                            </td>
                        {% endwith %}
                        <td style="text-align: center">
                            <div>
                                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('查看节目单','{% url 'programme_view' machine_related.programme_id %}')">
                                    查看
                                </button>
                                {% if request.user.is_manage %}
                                    <button class="layui-btn layui-btn-sm" onclick="MachineProgrammePublish(this, '{{ machine_related.pk }}')">
                                        发布
                                    </button>
                                {% endif %}
                                <button class="layui-btn layui-btn-sm" onclick="MachineAddPIDel(this, '{{ machine_related.pk }}')">
                                    删除
                                </button>
                            </div>

                            <span id="machine-related-del"></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        function MachineAddPI() {
            var form_data = new FormData();
            var interval_obj = [];
            var interval_id = $("[name='machine-interval']");
            var programme_pk = $("#machine-programme option:selected").attr("value");
            for (var i = 0; i < interval_id.length; i++) {
                if (interval_id[i].checked) {
                    interval_obj.push(interval_id[i].value)
                }
            }
            if (interval_obj.length < 1) {
                $("#machine-add-error").text("请选择时间！");
                setTimeout(function () {
                    $("#machine-add-error").text("");
                }, 2000);
                return false;
            }
            form_data.append("intervals", interval_obj);
            form_data.append("programme_pk", programme_pk);
            form_data.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: "{% url 'machine_addpi' machine_nid %}",
                type: "post",
                data: form_data,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data.status) {
                        window.location.reload();
                    } else {
                        $("#machine-add-error").text(data.msg);
                        setTimeout(function () {
                            $("#machine-add-error").text("");
                        }, 5000)
                    }
                }
            })
        }

        <!--删除-->
        function MachineAddPIDel(obj, machine_related_pk) {
            layer.confirm("确认要移除此节目单吗？", function (index) {
                $.ajax({
                    url: "{% url 'machine_related_del' %}",
                    type: "get",
                    data: {
                        "machine_related_pk": machine_related_pk,
                    },
                    success: function (data) {
                        if (data.status) {
                            layer.msg(data.msg, {icon: 1, time: 1000});
                            window.location.reload();
                        } else {
                            $("#machine-related-del").text(data.msg);
                            setTimeout(function () {
                                $("#machine-related-del").text("");
                            }, 2000)
                        }
                    }
                })
            })

        }

        <!--发布-->
        function MachineProgrammePublish(obj, machine_related_pk) {
            $.ajax({
                url: "{% url 'machine_related_publish' %}",
                type: "get",
                data: {
                    machine_related_pk: machine_related_pk,
                },
                dataType: "json",
                success: function (data) {
                    layer.msg(data.msg, {icon: 1, time: 2000})
                }
            })
        }
    </script>
{% endblock %}
