{% extends 'base.html' %}
{% load mytag static %}
{% block title %}
    {% if request.user.pk|is_user_manage %}
        {{ machine_title }}--提交审核
    {% else %}
        {{ machine_title }}--发布
    {% endif %}
{% endblock %}
{% block extra_css %}
    <style>
        .machine-related-body {
            display: inline-block;
            float: left;
            width: 50%;
            padding: 20px;
        }

        .machine-related-nav {
            width: 100px;
            height: 20px;
            display: inline-block;
            padding: 10px;
        }

        .machine-related-programme {
            display: inline-block;
            padding-left: 15%;
        }

        .adv-machine-related-editor {
            width: 40%;
            padding: 20px;
            float: left;
        }

        .layui-btn a {
            color: #000;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="machine-related-body">
        <form class="layui-form">
            {% csrf_token %}
            <!--如果不是管理员或者超级管理员-->
            <div class="adv-machine-related">
                <div class="layui-form-item">
                    {% if request.user.pk|is_user_manage %}
                        <div>选择广告时间</div>
                    {% else %}
                        <div>时间选择情况</div>
                    {% endif %}

                    <div class="layui-input-block">
                        {% for interval in intervals %}
                            {% if interval.pk|compare_interval:interval_list %}
                                <input type="checkbox" name="machine-interval" value="{{ interval.pk }}"
                                       title="{{ interval.title }}" disabled="disabled">
                            {% else %}
                                <input type="checkbox" name="machine-interval" value="{{ interval.pk }}"
                                       title="{{ interval.title }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                </div>
                <!--单选，获取节目单-->
                {% if request.user.pk|is_user_manage %}
                    <div>选择节目</div>
                    <div class="layui-input-inline machine-related-programme">
                        <select id="machine-programme" class="machine-related-select">
                            {% for programme in programmes %}
                                <option value="{{ programme.pk }}">{{ programme.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="text-align: center;padding: 30px; display: inline-block;">
                        <input type="button" class="layui-btn" onclick="MachineAddPI()"
                               value="提交审核"/>
                    </div>
                    <span id="machine-add-error" style="text-align: center; display: block;"></span>
                {% endif %}
            </div>

        </form>
    </div>
    <div class="adv-machine-related-editor">
        <div>
            {% for machine_related in machines_related %}
                <div>
                    <button class="layui-btn" style="width: 200px;">
                        <a href="{% url 'programme_view' machine_related.programme_id %}">{{ machine_related.programme.title }}</a>
                    </button>
                    {% if request.user.is_manage %}
                        <input type="button" value="发布" class="layui-btn"
                               onclick="MachineProgrammePublish(this, '{{ machine_related.pk }}')">
                    {% endif %}
                    <div class="layui-btn" >
                        <i class="layui-icon" onclick="MachineAddPIDel(this, '{{ machine_related.pk }}')" style="font-size: 16px">
                            删除&nbsp;&nbsp;
                        </i>
                    </div>
                </div>

                <span id="machine-related-del"></span>
                {% with intervals=machine_related.pk|machine_to_interval %}
                    {% for interval in intervals %}
                        <div class="machine-related-nav">
                            {{ interval.title }}
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        function MachineAddPI() {
            var form_data = new FormData();
            var interval_obj = [];
            var interval_id = $("[name='machine-interval']");
            var programme_pk = $("#machine-programme option:selected").attr("value");
            for (var i = 0; i < interval_id.length; i++) {
                if (interval_id[i].checked) {
                    interval_obj.push(interval_id[i].value)
                }
            }
            if (interval_obj.length < 1) {
                $("#machine-add-error").text("请选择时间！");
                setTimeout(function () {
                    $("#machine-add-error").text("");
                }, 2000);
                return false;
            }
            form_data.append("intervals", interval_obj);
            form_data.append("programme_pk", programme_pk);
            form_data.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: "{% url 'machine_addpi' machine_nid %}",
                type: "post",
                data: form_data,
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data.status) {
                        window.location.reload();
                    } else {
                        $("#machine-add-error").text(data.msg);
                        setTimeout(function () {
                            $("#machine-add-error").text("");
                        }, 5000)
                    }
                }
            })
        }

        <!--删除-->
        function MachineAddPIDel(obj, machine_related_pk) {
            layer.confirm("确认要移除此节目单吗？", function (index) {
                $.ajax({
                    url: "{% url 'machine_related_del' %}",
                    type: "get",
                    data: {
                        "machine_related_pk": machine_related_pk,
                    },
                    success: function (data) {
                        if (data.status) {
                            layer.msg(data.msg, {icon: 1, time: 1000});
                            window.location.reload();
                        } else {
                            $("#machine-related-del").text(data.msg);
                            setTimeout(function () {
                                $("#machine-related-del").text("");
                            }, 2000)
                        }
                    }
                })
            })

        }

        <!--发布-->
        function MachineProgrammePublish(obj, machine_related_pk) {
            $.ajax({
                url: "{% url 'machine_related_publish' %}",
                type: "get",
                data: {
                    machine_related_pk: machine_related_pk,
                },
                dataType: "json",
                success: function (data) {
                    layer.msg(data.msg, {icon: 1, time: 2000})
                }
            })
        }
    </script>
{% endblock %}
