{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="padding: 20px; padding-left: 50px">
        <div>
            <input type="file" name="file" id="file_upload">
        </div>
        <hr>
        <div>
            <p>请选择文件标签</p>
            <select style="width: auto;height: 30px; margin-top: 5px" id="tag-id">
                {% for s in tags %}
                    {% if forloop.first %}
                        <option selected="selected" id="material-add-option">{{ s.title }}</option>
                    {% else %}
                        <option value="volvo" id="material-add-option">{{ s.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <hr>
        <input type="button" value="上传" onclick="FileUpload()" class="layui-btn">
        <span id="has-error" style="color: orange;margin-left: 10px"></span>
        <div id="son"></div>
    </div>
    {% csrf_token %}
{% endblock %}

{% block extra_js %}
    <script>
        function FileUpload() {
            var form_data = new FormData();
            var tag = $("#tag-id option:selected").text();
            var file_info = $('#file_upload')[0].files[0];
            form_data.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            form_data.append('file', file_info);
            form_data.append('tag', tag);
            if (file_info == undefined) {
                $("#has-error").text("请选择上传文件！");
                setTimeout(function () {
                    $("#has-error").text("");
                }, 1500);
                return false;
            }//暂且不许要判断是否有附件
            if (tag == "") {
                $("#has-error").text("请选择标签，或在文件上传页面中添加标签！");
                setTimeout(function () {
                    $("#has-error").text("");
                }, 2000);
                return false;
            }
            $.ajax({
                url: "{% url 'material_file_add' %}",
                type: 'POST',
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                xhr: function () {
                    myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // check if upload property exists
                        myXhr.upload.addEventListener('progress', function (e) {
                            var loaded = e.loaded;//已经上传大小情况
                            var tot = e.total;//附件总大小
                            var per = Math.floor(100 * loaded / tot);  //已经上传的百分比
                            $("#son").html(per + "%");
                            $("#son").css("width", per + "%");
                            //console.log('附件总大小 = ' + loaded);
                            //console.log('已经上传大小 = ' + tot);
                        }, false); // for handling the progress of the upload
                    }
                    return myXhr;
                },
                success: function (callback) {
                    parent.location.reload();
                }
            });
        }
    </script>
{% endblock %}


