{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .manage-material-head{
            margin: 20px;
        }
        .manage-material-body{
            height: 40px;
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        {% if is_there %}
            {% for p in programme_manage_materials %}
                <div class="col-sm-2 manage-material-head">
                    <div class="panel panel-primary manage-material-body">
                        {{ p }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div>无区域时间</div>
        {% endif %}
    </div>
{% endblock %}
