{% extends 'base.html' %}
{% block extra_css %}
    <style>
        .programme-add-body {
            margin-top: 10px;
        }

        .programme-add-title {
            width: 80%;
        }

        .programme-add-error {
            display: inline-block;
            color: orange;
            margin-left: 100px;
            margin-top: 10px;
        }
    </style>

{% endblock %}
{% block content %}
    <form class="layui-form programme-add-body">
        <!-- 标题 -->
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入标题" autocomplete="off"
                       class="layui-input programme-add-title" id="programme-add-title">
            </div>
        </div>

        <!-- 提交 -->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" value="提交" onclick="NewProgramme()" class="layui-btn">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
            <span id="programme-add-has-error" class="programme-add-error"></span>
        </div>
    </form>
{% endblock %}
{% block extra_js %}
    <script>
        function NewProgramme() {
            var form_data = new FormData();
            var title = $("#programme-add-title").val();
            if (title == "") {
                $("#programme-add-has-error").text("请输入标题！");
                setTimeout(function () {
                    $("#programme-add-has-error").text("");
                }, 2000);
                return false
            }
            form_data.append("title", title);
            form_data.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: "{% url 'programme_add' %}",
                type: "post",
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function (data) {
                    if (data.status) {
                        parent.location.reload();
                    } else {
                        $("#programme-add-has-error").text(data.msg);
                        setTimeout(function () {
                            $("#programme-add-has-error").text("");
                        }, 2000);
                        return false
                    }
                }
            })
        }
    </script>
{% endblock %}
