{% extends 'base.html' %}
{% load mytag %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <style>
        .x-body {
            margin-bottom: 20px;
        }

        .material-file-del-body {
            padding: 20px;
        }

        .material-img {
            max-height: 100px;
            max-width: 100px;
            vertical-align: middle;
        }

        .pmaterial-boot {
            margin: 5px;
            padding: 0;
            text-align: center;
        }

        .pmaterial-content {
            text-align: center;
            height: 120px;
            padding: 10px 0 0 0;
            vertical-align: middle;
            display: table-cell;
            background: rgba(255, 255, 255, 0.3)
        }

        .pmaterial-control > a {
            margin-left: 10px;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <form class="layui-form material-file-del-body">
        {% csrf_token %}
        <div class="x-body">
            <div class="row">
                {% for programme_material in programme_materials %}
                    <div class="col-sm-2 pmaterial-boot">
                        <div class="panel-primary pmaterial-content" id="pmaterial-content-id">
                            <div class="thumbnail" style="height: 100px; line-height: 100px">
                                {% if programme_material.material.files.url|image_video %}
                                    <img src="{{ programme_material.material.files.url }}" alt="" width="100%"
                                         class="material-img img-rounded">
                                {% else %}
                                    <div style="height: 100px; line-height: 18px">{{ programme_material.material.title }}</div>
                                {% endif %}
                            </div>
                            <input type="checkbox" material_select="material_file_interval_del" name="{{ programme_material.pk }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" value="删除所选的文件" onclick="DelMaterialFile()" class="layui-btn">
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
            <span id="material-file-del-has-error" class="material-file-del-error"></span>
        </div>
    </form>


{% endblock %}
{% block extra_js %}
    <script>
        function DelMaterialFile() {
            var form_data = new FormData();
            var obj = $("[material_select='material_file_interval_del']");
            var programme_materials = [];
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].checked) {
                    programme_materials.push(obj[i].name);
                }
            }
            form_data.append('programme_materials', programme_materials);
            form_data.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: "{% url 'programme_material_del' pk %}",
                type: "post",
                data: form_data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status) {
                        parent.location.reload();
                    } else {
                        $("#material-file-del-has-error").text(data.msg);
                        setTimeout(function () {
                            $("#material-file-del-has-error").text("");
                        }, 2000);
                        return false
                    }
                }
            })

        }

    </script>
{% endblock %}
