{% extends 'base.html' %}
{% load static mytag %}
{% block title %}
    {{ programme.title }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <style>
        .programme-head {
            margin: 0 2%;
        }

        .material-sort-head {
            width: 30%;
            float: left;
        }

        .material-sort-body {
            overflow-y: scroll;
            height: 600px;
        }

        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #sortable li {
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: center;
        }

        .material-sort-img {
            max-height: 80px;
            max-width: 80px;
            vertical-align: middle;
        }

        .material-sort-img:hover {
            cursor: pointer;
        }

        .material-sort-title:hover {
            cursor: pointer;
        }

        .area-interval-head {
            padding: 20px 20px 10px 20px;
            width: 40%;
            height: 600px;
            float: left;
            overflow-y: scroll;
        }

        .manage-material-body {
            text-align: center;
        }

        .count-editor {
            height: auto;
            width: 30%;
            float: left;
            padding: 20px 20px 10px 20px;
        }

        .programme-count {
            height: 50%;
        }

        .programme-editor {
            height: 50%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="programme-head">
        {% csrf_token %}
        <div class="material-sort-head">
            <h4 style="text-align: center">拖动文件进行排序</h4>
            <div class="material-sort-body">
                <ul id="sortable" class="list-group">
                    {% for material in programme_materials %}
                        <li class="ui-state-default" id="{{ material.id }}">
                            {% if material.material.files.url|image_video %}
                                <img src="{{ material.material.files.url }}" alt=""
                                     class="material-sort-img img-rounded">
                                <a onclick="material_del(this, '{{ material.pk }}')"><i
                                        class="layui-icon">&#xe640;</i></a>
                            {% else %}
                                <div class="material-sort-title">{{ material.material.title }}</div>
                                <a onclick="material_del(this, '{{ material.pk }}')"><i
                                        class="layui-icon">&#xe640;</i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="area-interval-head">
            {% if is_there %}
                {% for p in programme_manage_materials %}
                    <div class="area-interva-nav">
                        <div class="panel panel-primary manage-material-body">
                            {{ p }}
                            <a onclick="area_interval_del(this, '{{ p.pk }}')"><i class="layui-icon">&#xe640;</i></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>无区域时间</div>
            {% endif %}
        </div>
    </div>

    <div class="count-editor">
        <div class="programme-count">
            <h3>数据统计:</h3>
            <div>
                <label>素材数量:</label><span>{{ programme_materials.count }}</span>
            </div>
            <div>
                <label>区域时间数量:</label><span>{{ programme_manage_materials.count }}</span>
            </div>
        </div>
        <div class="programme-editor">
            <h3>操作</h3>
            <button class="layui-btn layui-btn layui-btn-xs"
                    onclick="x_admin_show('添加素材','{% url 'programme_material_add' pk username %}')">
                <i class="layui-icon">&#xe642;</i>添加素材文件
            </button>
            <br>
            <br>
            <button class="layui-btn layui-btn-normal layui-btn-xs"
                    onclick="x_admin_show('选择要发布的区域时间','{% url 'programme_manage_material' pk username %}')">
                <i class="layui-icon">&#xe642;</i>添加区域时间
            </button>
            <br>
            <br>
            <button class="layui-btn layui-btn layui-btn-xs"
                    onclick="programme_review(this, '{{ pk }}')">
                <i class="layui-icon">&#xe642;</i>
                {% if programme.is_review %}
                    取消节目审核
                {% else %}
                    提交节目审核
                {% endif %}
            </button>
            <br>
            <br>
            {% if request.user.is_superuser %}
                {% if programme.is_review %}
                    <div>请在节目单首页发布此节目单</div>
                {% endif %}
            {% else %}
                {% if programme.is_review %}
                    <div>您已提交审请！</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script>
        $("#sortable").sortable({
            stop: function () {
                var form_data = new FormData();
                var sort_list = $("#sortable").sortable("toArray");
                console.log(sort_list);
                form_data.append('sort_list', sort_list);
                form_data.append('csrfmiddlewaretoken', $("[name='csrfmiddlewaretoken']").val());
                $.ajax({
                    url: "{% url 'programme_sort' pk username %}",
                    type: "post",
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data.status)
                    }
                })
            }
        });
        $("#sortable").sortable("refresh");

        function func(url, func_pk, confirm_message) {
            layer.confirm(confirm_message, function (index) {
                // 异步删除;
                $.ajax({
                    url: url,
                    type: "get",
                    dataType: "json",
                    data: {
                        pk: func_pk,
                    },
                    success: function (data) {
                        if (data.status) {
                            layer.msg(data.msg, {icon: 1, time: 2000});
                            window.location.reload();
                        } else {
                            layer.msg(data.msg, {icon: 1, time: 2000});
                        }
                    }
                });
            })
        }

        function material_del(obj, material_pk) {
            url = "{% url 'programme_material_del' %}";
            confirm_message = "确定要删除该素材吗？";
            func(url, material_pk, confirm_message);
        }

        function area_interval_del(obj, area_interval_pk) {
            url = "{% url 'programme_area_interval_del' %}";
            confirm_message = "确定要删除该区域时间吗？";
            func(url, area_interval_pk, confirm_message);
        }

        function programme_review(obj, review_pk) {
            url = "{% url 'programme_manage_review' %}";
            confirm_message = "确定要执行该操作吗？";
            func(url, review_pk, confirm_message);
        }
    </script>
{% endblock %}
