{% extends 'base.html' %}
{% load static mytag %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #sortable li {
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: center;
        }

        .material-sort-img {
            max-height: 80px;
            max-width: 80px;
            vertical-align: middle;
        }

        .material-sort-img:hover {
            cursor: pointer;
        }

        .material-sort-title:hover {
            cursor: pointer;
        }

    </style>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="material-sort-head">
{#        <div style="margin-top: 5px; text-align: center">#}
{#            <button class="layui-btn layui-btn layui-btn-xs"><i class="layui-icon">&#xe642;</i>排序</button>#}
{#        </div>#}
{#        <div class="panel panel-primary">#}

            <ul id="sortable" class="list-group">
                {% for material in programme_materials %}

                    <li class="ui-state-default" id="{{ material.id }}">
                        {% if material.material.files.url|image_video %}
                            <img src="{{ material.material.files.url }}" alt="" class="material-sort-img img-rounded">
                        {% else %}
                            <div class="material-sort-title">{{ material.material.title }}</div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
{#        </div>#}
    </div>

{% endblock %}
{% block extra_js %}
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script>
        /*
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
        获取排序后的 li 中的内容
        $("#sortable").sortable({
            stop : function (event, ui) {
                var result = [];
                var text = $("#sortable li").text();
                var id = $("#sortable").target.class;
                $("#sortable li").each(function () {
                    result.push($(this).text());
                });
                console.log(text);
            }
        });
        */
        $("#sortable").sortable({
            stop: function () {
                var form_data = new FormData();
                var sort_list = $("#sortable").sortable("toArray");
                console.log(sort_list);
                form_data.append('sort_list', sort_list);
                form_data.append('csrfmiddlewaretoken', $("[name='csrfmiddlewaretoken']").val());
                $.ajax({
                    url: "{% url 'programme_sort' nid %}",
                    type: "post",
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data.status)
                    }
                })
            }
        });
        $("#sortable").sortable("refresh");

    </script>

{% endblock %}
