{% extends 'base.html' %}
{% block title %}
    {{ programme }}

{% endblock %}
{% load static mytag %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .programme-view-material {
            width: 100%;
        }

        .programme-view-content {
            text-align: center;
            height: 120px;
            margin: 20px 0;
        }

        .programme-view-img {
            max-height: 120px;
            max-width: 120px;
            vertical-align: middle;
        }

        .programme-view-area {
            width: 30%;
        }
    </style>
{% endblock %}

{% block content %}
    <!--TODO 后期修改，把节目单直接赋值给设备-->
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">素材</li>
            <li>区域时间</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="row">
                    <div class="programme-view-material">
                        {% for material in materials %}
                            <div class="col-sm-2 programme-view-body">
                                <div class="panel-primary programme-view-content">
                                    {% if material.material.files.url|image_video %}
                                        <img src="{{ material.material.files.url }}" alt="" width="100%"
                                             class="programme-view-img img-rounded">
                                    {% else %}
                                        <div style="height: 100px; line-height: 18px">{{ material.material.title }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                {% for area in area_intervals %}
                    <div class="programme-view-area">
                        <button class="layui-btn">{{ area }}
                            <span class="layui-badge layui-bg-gray">
                                    {% if area.is_publish %}
                                        已发布
                                    {% else %}
                                        未发布
                                    {% endif %}
                                </span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
