{% extends 'base.html' %}
{% block extra_css %}
    <style>
        .users-head tr th{
            text-align: center;
        }
        td{
            text-align: center;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    <button data-method="offset" data-type="auto" class="layui-btn" id="user-message">
        更改权限
    </button>
    <table class="layui-table layui-form">
        {% if request.user.is_superuser %}
            <thead class="users-head">
            <tr>
                <th width="50">管理员</th>
                <th width="50">一级管理员</th>
                <th width="50">修改权限</th>
            </tr>
            </thead>
        {% endif %}
        <tbody class="users-body">
        {% for user in users %}
            <tr>
                <td>
                    <span>{{ user.username }}</span>
                </td>
                <td>
                    {% if user.is_manage %}
                        是
                        {% else %}
                        否
                    {% endif %}
                </td>
                <td>
                    <button class="layui-btn layui-btn layui-btn-xs"
                            onclick="x_admin_show('修改标签名称','{% url 'user_power_update' user.pk %}', 600, 500)"
                            href="javascript:;"><i class="layui-icon">&#xe642;</i>修改
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
