{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .assign-area-cancel span:hover {
            cursor: pointer;
        }

        .db-area-list {
            padding: 15px;
        }
        tr td{
            text-align: center;
        }
        .db-area-head tr th{
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    {% if request.user.is_superuser %}
        <xblock>
            <button class="layui-btn" onclick="x_admin_show('分配区域','{% url 'assign_area' group_pk %}', 500, 400)"><i
                    class="layui-icon"></i>分配区域
            </button>
            <span class="x-right" style="line-height:40px">共有区域：{{ areas.count }} 个</span>
        </xblock>
    {% elif request.user.is_manage %}
        <div class="db-area-list">
            <button class="layui-btn">
                区域列表
            </button>
        </div>
    {% endif %}

    <table class="layui-table layui-form">
        <thead class="db-area-head">
        <tr>
            <th width="150">区域</th>
            <th width="50">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.title }}</td>
                <td>
                    <button class="layui-btn-danger layui-btn layui-btn-xs"
                            onclick="AssignAreaCancel(this, '{{ area.pk }}')"
                            href="javascript:;"><i class="layui-icon">&#xe640;</i>删除
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
{% endblock %}
{% block extra_js %}
    <script>
        function AssignAreaCancel(obj, area_pk) {
            layer.confirm("确定要删除此区域吗？", function (index) {
                $.ajax({
                    url: "{% url 'db_area' group_pk %}",
                    type: "post",
                    data: {
                        "area_pk": area_pk,
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status) {
                            layer.msg("已删除！", {icon: 1, time: 10000});
                            window.location.reload();
                        } else {
                            layer.msg("删除失败！", {icon: 1, time: 1000})
                        }
                    }
                })
            })
        }
    </script>

{% endblock %}
