{% extends 'base.html' %}
{% load static staticfiles %}
{% block title %}
    个人中心
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/index.css' %}">
{% endblock %}
{% block content %}
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo">
            <!-- 暂时固定，后期根据登录的角色分配头像， 图片尺寸 40x40 -->
            <a href="#" style="padding: 0;"><img src="{% static 'img/2018-11-7-40x40.png' %}" alt=""></a>
        </div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <!-- 此处去除原来的模块快速入口 -->
        <ul class="layui-nav right">
            <li class="layui-nav-item">
                <a href="javascript:;">{{ request.user.username }}</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a onclick="x_admin_show('个人信息','materials/user', 500, 400)"
                           id="header-person-information">个人信息</a></dd>
                    <dd><a id="header-logout">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
        </ul>

    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>终端管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="member-list.html">
                                <cite>终端列表</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="member-del.html">
                                <cite>终端监控</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe723;</i>
                        <cite>内容管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="iconfont">&#xe744;</i>
                                <cite>素材管理</cite>
                                <i class="iconfont nav_right">&#xe697;</i>
                            </a>
                            <ul class="sub-menu">

                                <li>
                                    <a _href="{% url 'material_file' %}">
                                        <cite>文件上传</cite>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a _href="{% url 'programme' %}">
                                <i class="iconfont">&#xe6b4;</i>
                                <cite>节目单</cite>
                            </a>


                        </li>
                    </ul>
                </li>

                {% if request.user.is_superuser %}
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe726;</i>
                            <cite>系统管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="admin-list.html">
                                    <cite>管理员列表</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="admin-role.html">
                                    <cite>角色管理</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="admin-cate.html">
                                    <cite>权限分类</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="admin-rule.html">
                                    <cite>权限管理</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>当前数据统计</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="{% url 'welcome' %}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
{% endblock %}
{% block extra_js %}
    <script>
        $("#header-logout").click(function () {
            location.href = "{% url 'logout' %}"
        })
    </script>
{% endblock %}
