{% extends 'base.html' %}
{% load static staticfiles mytag %}
{% block title %}
    个人中心
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/index.css' %}">
{% endblock %}
{% block content %}
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo">
            <!-- 暂时固定，后期根据登录的角色分配头像， 图片尺寸 40x40 -->
            <a href="#" style="padding: 0;"><img src="{% static 'img/2018-11-7-40x40.png' %}" alt=""></a>
        </div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <!-- 此处去除原来的模块快速入口 -->
        <ul class="layui-nav right">
            <li class="layui-nav-item">
                <a href="javascript:;">{{ request.user.username }}</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a onclick="x_admin_show('个人信息','{% url 'user' %}', 500, 400)"
                           id="header-person-information">个人信息</a></dd>
                    <dd><a id="header-logout">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
        </ul>

    </div>

    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>终端管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">
                                <cite>区域列表</cite>
                                {% if areas %}
                                    <i class="iconfont nav_right">&#xe697;</i>
                                {% endif %}
                            </a>
                            <ul class="sub-menu">
                                {% for area in areas %}
                                    <li>
                                        <a _href="{% url 'machine_list' area.pk %}">
                                            <cite>{{ area.title }}</cite>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if request.user.is_superuser %}
                            <li>
                                <a _href="{% url 'areas' %}">
                                    <cite>区域分组</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="">
                                    <cite>终端监控</cite>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe723;</i>
                        <cite>内容管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="{% url 'tags' %}">
                                <cite>文件标签</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="{% url 'materials' %}">
                                <cite>文件上传</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6cb;</i>
                        <cite>节目管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="{% url 'adv_programme' %}">
                                <cite>广告节目</cite>
                            </a>
                        </li>
                        {% if request.user.is_manage or request.user.is_superuser %}
                            <li>
                                <a _href="{% url 'qrcode_programme' %}">
                                    <cite>二维码节目单</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="{% url 'welfare_primary_programme' %}">
                                    <cite>公益主屏节目</cite>
                                </a>
                            </li>
                            <li>
                                <a _href="{% url 'welfare_secondary_programme' %}">
                                    <cite>公益副屏节目</cite>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </li>
                {% if request.user.is_manage or request.user.is_superuser %}
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe70c;</i>
                            <cite>模板管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{% url 'machine_template' %}">
                                    <cite>设备背景</cite>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe726;</i>
                            <cite>系统管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a _href="{% url 'admin_list' %}">
                                    <cite>用户列表</cite>
                                </a>
                            </li>
                            {% if request.user.is_superuser %}
                                <li>
                                    <a _href="{% url 'admin_role' %}">
                                        <cite>角色分组</cite>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>区域分配</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <ul class="sub-menu">
                            {% if request.user.is_superuser %}
                                {% for g in group %}
                                    <li>
                                        <a _href="{% url 'db_area' g.pk %}">
                                            <cite>{{ g.name }}</cite>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <a _href="{% url 'db_area' group.pk %}">
                                        <cite>{{ group.name }}</cite>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>当前数据统计</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="{% url 'welcome' %}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
{% endblock %}
{% block extra_js %}
    <script>
        $("#header-logout").click(function () {
            location.href = "{% url 'logout' %}"
        })
    </script>
{% endblock %}
