{% extends 'base.html' %}
{% load mytag  static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .machine-nav {
            padding-left: 5px;
        }

        .machine-button {
            display: block;
        }

        .machine-panel {
            display: inline-block;
            width: 12%;
            height: 70px;
            margin-top: 10px;
        }

        .machine-panel-title, .machine-panel-nid {
            text-align: center;
            margin-top: 5px;
            font-size: 10px;
        }

        .machine-panel-handle {
            text-align: center;
        }

        .machine-panel-handle-detail, .machine-panel-handle-editor, .machine-panel-handle-del {
            display: inline-block;
            margin-left: 10px;
        }

        .machine-panel-handle-detail span, .machine-panel-handle-editor span, .machine-panel-handle-del span {
            cursor: pointer;
        }

        .machine-panel-handle-detail span:hover, .machine-panel-handle-editor span:hover, .machine-panel-handle-del span:hover {
            color: blue;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>

    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加设备','{% url 'machines_add' %}', 700, 500)"><i
                class="layui-icon"></i>添加标签
        </button>
        <span class="x-right" style="line-height:40px">共有设备：{{ machines.count }} 台</span>
    </xblock>
    <div class="machine-nav">
        {% csrf_token %}
        {% for area, machines in area_group.items %}
            <div class="machine-nav-but">
                {% with m=machines|list_length %}
                    <button class="layui-btn machine-button">{{ area.title }}<span
                            class="layui-badge layui-bg-gray">{{ m }}</span></button>
                {% endwith %}
            </div>
            <!-- TODO   此处方格状  是否在线 -->
            {% for machine in machines %}
                <div class="panel panel-primary machine-panel">
                    <div class="machine-panel-title">
                        <span>{{ machine.title }}</span>
                    </div>
                    <div class="machine-panel-nid">
                        <span>{{ machine.nid }}</span>
                    </div>
                    <div class="machine-panel-handle">
                        <div class="machine-panel-handle-detail">
                            <span onclick="x_admin_show('设备详情', '{% url 'machine_detail' machine.nid %}', 400, 300)"><i
                                    class="layui-icon">&#xe705;</i></span>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="machine-panel-handle-editor">
                                <span onclick="x_admin_show('设备修改', '{% url 'machine_update' machine.nid %}', 400, 300)"><i
                                        class="layui-icon">&#xe6b2;</i></span>
                            </div>
                            <div class="machine-panel-handle-del">
                                <span><i class="layui-icon" onclick="MachineDel(this,'{{ machine.nid }}')">&#xe640;</i></span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        function MachineDel(obj, nid) {
            $.ajax({
                url: "{% url 'machines' %}",
                type: "post",
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    nid: nid,
                },
                success: function (data) {
                    if (data.status) {
                        layer.msg('已删除!', {icon: 1, time: 1000});
                        window.location.reload();
                    } else {
                        layer.msg('删除失败啦!', {icon: 1, time: 1000});
                    }
                }
            })
        }
    </script>

{% endblock %}
