{% extends 'base.html' %}
{% load mytag  static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .machine-table-head tr th, .machine-table-body tr td {
            text-align: center;
        }

        .machine-panel-handle-detail, .machine-panel-handle-editor, .machine-panel-handle-del {
            display: inline-block;
            margin-left: 10px;
        }

        .machine-panel-handle-detail span, .machine-panel-handle-editor span, .machine-panel-handle-del span {
            cursor: pointer;
        }

        .machine-panel-handle-detail span:hover, .machine-panel-handle-editor span:hover, .machine-panel-handle-del span:hover {
            color: blue;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>

    <xblock>
        {% if request.user.is_superuser %}
            <button class="layui-btn" onclick="x_admin_show('添加设备','{% url 'machines_add' area_pk %}', 700, 500)"><i
                    class="layui-icon"></i>添加设备
            </button>
        {% endif %}
        <span class="x-right" style="line-height:40px">共有设备：{{ machines_all.count }} 台</span>
    </xblock>
    {% csrf_token %}
    {% if machines %}
        <table class="layui-table layui-form">
            <thead class="machine-table-head">
            <tr>
                <th width="100">设备名称</th>
                <th width="100">设备编号</th>
                <th width="100">设备位置</th>
                <th width="200">操作</th>
            </tr>
            </thead>
            <tbody class="machine-table-body">
            {% if machines %}
                {% for machine in machines %}
                    <tr>
                        <td>{{ machine.title }}</td>
                        <td>{{ machine.nid }}</td>
                        <td>{{ machine.position }}</td>
                        <td>
                            <div class="machine-panel-handle-detail">
                                <button class="layui-btn layui-btn layui-btn-xs"
                                        onclick="x_admin_show('设备详情', '{% url 'machine_detail' machine.nid %}', 400, 300)"
                                        href="javascript:;">
                                    <i class="layui-icon">&#xe705;</i>详情
                                </button>
                                <button class="layui-btn layui-btn layui-btn-xs"
                                        onclick="x_admin_show('设备详情', '{% url 'machine_addpi' machine.nid %}')"
                                        href="javascript:;">
                                    <i class="layui-icon">&#xe705;</i>添加节目单
                                </button>
                            </div>

                            {% if request.user.is_superuser %}
                                <div class="machine-panel-handle-editor">
                                    <button class="layui-btn layui-btn layui-btn-xs"
                                            onclick="x_admin_show('设备修改', '{% url 'machine_update' machine.nid %}', 400, 300)"
                                            href="javascript:;">
                                        <i class="layui-icon">&#xe6b2;</i>修改
                                    </button>
                                </div>
                                <div class="machine-panel-handle-del">
                                    <button class="layui-btn layui-btn-danger layui-btn-xs"
                                            onclick="MachineDel(this,'{{ machine.nid }}')">
                                        <i class="layui-icon">&#xe640;</i>删除
                                    </button>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'include/paginators.html' with pg=machines %}
    {% endif %}
{% endblock %}
{% block extra_js %}
    <script>
        function MachineDel(obj, nid) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    url: "{% url 'machine_list' area_pk %}",
                    type: "post",
                    data: {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                        nid: nid,
                    },
                    success: function (data) {
                        if (data.status) {
                            layer.msg('已删除!', {icon: 1, time: 1000});
                            window.location.reload();
                        } else {
                            layer.msg('删除失败啦!', {icon: 1, time: 1000});
                        }
                    }
                });
            });
        }
    </script>

{% endblock %}
