{% extends 'base.html' %}
{% load mytag static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .areas-head{
            padding: 30px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:left" title="请选择区域及时间">
            <i class="layui-icon" style="line-height:18px; font-size: 18px; padding-top: 5px;">请选择区域及时间</i>
        </a>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>

    <div class="areas-head">
        {% for area in areas %}
            <button class="layui-btn" onclick="x_admin_show('选择区域及时间', '{% url 'manage_area' username area.pk %}',800, 400)">
                {{ area.title }}
                <span class="layui-badge layui-bg-gray">1</span>
            </button>
        {% endfor %}
    </div>


{% endblock %}
