{% extends 'base.html' %}
{% load static mytag %}
{% block title %}
    {{ tag }}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/material.css' %}">
{% endblock %}
{% block content %}
    <div class="material-head-renew">
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>

    <div class="material-head-add">
        <button class="layui-btn" onclick="x_admin_show('添加文件','{% url 'material_file_add' %}', 500, 300)"><i
                class="layui-icon"></i>添加文件
        </button>
        <span class="x-right">共有数据：{{ files_all.count }} 条</span>
    </div>
    <div class="material-wrap">
        {% if files %}
            {% for file in files %}
                <div class="material-body">
                    <div class="material-content">
                        {% if file.files.url|image_video %}
                            <div>
                                <img src="{{ file.files.url }}" alt="" width="100%" class="img-rounded">
                            </div>
                        {% else %}
                            <div>
                                <video src="{{ file.files.url }}" controls></video>
                            </div>
                        {% endif %}
                    </div>
                    <div class="material-button">
                        <a title="删除" onclick="member_del(this,'{{ file.pk }}')" href="javascript:;">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% include "include/paginators.html" with pg=files %}
        {% endif %}
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        function member_del(obj, pk) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    url: "{% url 'materials_delete' %}",
                    type: "get",
                    data: {
                        pk: pk
                    },
                    success: function (data) {
                        if (data.status) {
                            layer.msg('已删除!', {icon: 1, time: 1000});
                            window.location.reload();
                        } else {
                            layer.msg('删除失败啦!', {icon: 1, time: 1000});
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}
