{% extends 'base.html' %}
{% load static %}
{% block title %}
    素材管理
{% endblock %}
{% block content %}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <span style="font-size: 22px">素材列表</span>
      </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title" style="text-align: center">
            {% for tag in tags %}
                {% if forloop.first %}
                    <li class="layui-this">{{ tag.title }}</li>
                {% else %}
                    <li>{{ tag.title }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            {% for file in materials %}
                {% if forloop.first %}
                    <div class="layui-tab-item layui-show">
                        {% include 'include/material_list.html' with file=file %}
                    </div>
                {% else %}
                    <div class="layui-tab-item">
                        {% include 'include/material_list.html' with file=file %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据

                $.ajax({
                    url: "{% url 'delete' 123 %}",
                    type: "get",
                    data: {
                        all: false,
                        nid: id
                    },
                    success: function (data) {
                        if (data.status) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', {icon: 1, time: 1000});
                        } else {
                            layer.msg('删除失败啦!', {icon: 1, time: 1000});
                        }
                    }
                });

            });
        }


        function delAll(argument) {

            var data = tableCheck.getData();
            layer.confirm('确认要删除吗？' + data, function (index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {icon: 1});

                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        }
    </script>

{% endblock %}
