{% extends 'base.html' %}
{% load static %}
{% block title %}
    节目单管理
{% endblock %}
{% block extra_css %}
    <style>
        .programme-body-thead tr > th {
            text-align: center;
        }

        .programme-body-tbody tr > td {
            text-align: center;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加节目单','{% url 'programme_add' %}', 600, 300)"><i
                class="layui-icon"></i>添加节目单
        </button>
        <span class="x-right" style="line-height:40px">共有数据：{{ programmes.count }} 条</span>
    </xblock>
    <table class="layui-table layui-form">
        <thead class="programme-body-thead">
        <tr>
            <th width="70">标题</th>
            {% if request.user.is_superuser %}
                <th width="70">用户</th>
            {% endif %}
            <th width="170">时间段</th>
            <th width="200">操作</th>
        </tr>
        </thead>
        <tbody class="programme-body-tbody">
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.title }}</td>
                {% if request.user.is_superuser %}
                    <td>{{ programme.user.username }}</td>
                {% endif %}
                <td>
                    {% for interval in programme.interval.all %}
                        {{ interval.interval }}
                    {% endfor %}
                </td>
                <td>
                    <button class="layui-btn layui-btn layui-btn-xs"
                            onclick="x_admin_show('添加素材','{% url 'programme_material_add' programme.nid programme.user.username %}')">
                        <i class="layui-icon">&#xe642;</i>添加素材
                    </button>
                    <button class="layui-btn layui-btn-warm layui-btn-xs"
                            onclick="x_admin_show('素材排序','{% url 'programme_sort' programme.nid %}', 300, 500)"><i
                            class="layui-icon">&#xe642;</i>素材排序
                    </button>
                    <button class="layui-btn layui-btn-warm layui-btn-xs"
                            onclick="x_admin_show('素材删除','{% url 'programme_material_del' programme.nid %}')"><i
                            class="layui-icon">&#xe642;</i>素材删除
                    </button>
                    <button class="layui-btn layui-btn-warm layui-btn-xs"
                            onclick="x_admin_show('修改时间段','programme/intervals/')"><i class="layui-icon">&#xe642;</i>修改时间段
                    </button>
                    <button class="layui-btn-danger layui-btn layui-btn-xs" onclick="programme_del(this,'{{ programme.pk }}')"
                            href="javascript:;"><i class="layui-icon">&#xe640;</i>删除
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_js %}
    <script>
        function programme_del(obj, pk) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $.ajax({
                    url: "{% url 'programme_del' %}",
                    type: "get",
                    data: {
                        pk: pk
                    },
                    success: function (data) {
                        if (data.status) {
                            layer.msg('已删除!', {icon: 1, time: 1000});
                            window.location.reload();
                        } else {
                            layer.msg('删除失败啦!', {icon: 1, time: 1000});
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}
