{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <style>
        .tags-head tr > th {
            text-align: center;
        }

        .tags-body tr > td {
            text-align: center;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加标签','{% url 'material_tag_add' %}', 500, 300)"><i
                class="layui-icon"></i>添加标签
        </button>
        <span class="x-right" style="line-height:40px">共有数据：{{ tags.count }} 条</span>
    </xblock>
    <table class="layui-table layui-form">
        <thead class="tags-head">
        <tr>
            <th width="150">标签名称</th>
            {% if request.user.is_superuser or request.user.is_manage %}
                <th width="50">用户</th>
            {% endif %}
            <th width="200">操作</th>
        </tr>
        </thead>
        <tbody class="tags-body">
        {% for tag in tags %}
            <tr>
                <td><span>{{ tag.title }}</span></td>
                {% if request.user.is_superuser or request.user.is_manage %}
                    <td>{{ tag.user.username }}</td>
                {% endif %}
                <td>
                    <button class="layui-btn layui-btn layui-btn-xs"
                            onclick="x_admin_show('修改标签名称','{% url 'tags_update' tag.pk %}', 500, 300)"
                            href="javascript:;"><i class="layui-icon">&#xe642;</i>修改
                    </button>
                    <button class="layui-btn-danger layui-btn layui-btn-xs"
                            onclick="material_tag_del(this,'{{ tag.pk }}')"
                            href="javascript:;"><i class="layui-icon">&#xe640;</i>删除
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
{% endblock %}
{% block extra_js %}
    <script>
        function material_tag_del(obj, pk) {
            layer.confirm('确认要删除吗？这会删除此标签下的所有文件！', function (index) {
                //发异步删除数据
                $.ajax({
                    url: "{% url 'tags_delete' %}",
                    type: "get",
                    data: {
                        pk: pk
                    },
                    success: function (data) {
                        if (data.status) {
                            layer.msg('已删除!', {icon: 1, time: 1000});
                            window.location.reload();
                        } else {
                            layer.msg('删除失败啦!', {icon: 1, time: 1000});
                        }
                    }
                });
            });
        }
    </script>

{% endblock %}
