<xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="x_admin_show('添加用户', '')"><i class="layui-icon"></i>添加</button>
    <span class="x-right" style="line-height:40px">共有数据：88 条</span>
</xblock>

<div class="container-fluid" style="background-color: white">
    <div class="row">
        <div id="waterfall-container">
            {% for file in file %}
                <div class="pin"><img src="{{ file.files.url }}" alt="">{{ file.title }}</div>
            {% endfor %}
        </div>
    </div>

</div>

