{% extends 'base.html' %}
{% load static mytag %}
{% block title %}
    {{ programme.title }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <style>
        .view-body {
            text-align: center;
        }

        .img-content {
            display: inline-block;
            height: 200px;
            width: 20%;
            text-align: center;

        }

        .img-content img {
            max-height: 200px;
            width: 200px;
            padding: 15px;
        }

        .video-content {
            display: inline-block;
            height: 200px;
            width: 200px;
        }

        .video-content video {
            width: 200px;
            height: 200px;
            padding: 20px;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="view-body">
        {% if programme_materials %}
            {% for material in programme_materials %}
                {% if material.material.files.url|image_video %}
                    <div class="img-content">
                        <img src="{{ material.material.files.url }}" alt="" class="material-sort-img img-rounded">
                        {% if is_play_time %}
                            <div>
                                <span>播放时长：{{ material.play_time }}</span>
                            </div>
                        {% endif %}
                    </div>

                {% else %}
                    <div class="video-content">
                        <video src="{{ material.material.files.url }}" controls></video>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div style="padding: 20px;">暂无素材</div>
        {% endif %}
        {% include "include/paginators.html" with pg=programme_materials %}
    </div>
{% endblock %}
